{% extends "layout.html" %}

{% block title %}Fields List{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold">Fields</h1>
<div class="divider"></div>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.role.value }}</td>
            <td>
                <a href="{{ url_for('user.edit', id=user.id) }}">Edit</a>
                <a href="{{ url_for('user.delete', id=user.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mt-6">
    <a 
        href="{{ url_for('user.create') }}" 
        class="btn"
    >
        Create new user
    </a>
</div>
{% endblock %}
