{% extends "layout.html" %}
{% import "form_macros.html" as macros %}

{% block title %}Create Field{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Create a new Field</h1>
<div class="divider"></div>
<form method="POST" class="space-y-4">
    {{ macros.render_text_input('name', 'Name', '', True) }}
    {{ macros.render_text_input('alias', 'Alias', '', True) }}
    {{ macros.render_select(
        'field_type',
        'Field Type',
        FieldType,
        'name',
        'value',
    ) }}
    {{ macros.render_select(
        'collection_id',
        'Collection',
        collections,
        'id',
        'name',
    ) }}
    {{
        macros.render_checkbox(
            'is_list',
            'Is list'
        )
    }}
    {{
        macros.render_checkbox(
            'display_field',
            'Display field for content'
        )
    }}
    <button
        type="submit"
        class="btn"
    >
        Create
    </button>
</form>
{% endblock %}
