{% extends "layout.html" %}

{% import "form_macros.html" as macros %}
{% import "macros/common.html" as common %}

{% set title = "Create field" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{ common.render_head(title) }}

<form method="POST" class="space-y-4">
    {{ macros.render_text_input('name', 'Name', '', True) }}
    {{ macros.render_text_input('alias', 'Alias', '', True) }}
    {{ macros.render_select(
        'field_type',
        'Field Type',
        FieldType,
        'name',
        'value',
    ) }}
    {{ macros.render_select(
        'collection_id',
        'Collection',
        collections,
        'id',
        'name',
    ) }}
    {{
        macros.render_checkbox(
            'is_list',
            'Is list?'
        )
    }}
    {{
        macros.render_checkbox(
            'is_required',
            'Is required?'
        )
    }}
    {{
        macros.render_checkbox(
            'display_field',
            'Display field for content'
        )
    }}
    <button
        type="submit"
        class="btn"
    >
        Create
    </button>
</form>
{% endblock %}
