{% extends "layout.html" %}

{% block title %}Delete Field{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Delete field: {{field.name }} ({{field.id }})</h1>
<form method="POST" class="space-y-4">
    <div>
        <label for="name" class="block text-sm font-medium">Do you really want to delete field: {{field.name }} ({{field.id }})?</label>
        <input
            type="hidden"
            id="id"
            name="id"
            class="hidden"
            required
        />
    </div>
    <button
        type="submit"
        class="btn btn-primary"
    >
        Delete
    </button>
</form>
{% endblock %}
