{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}Update Field{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Update Field</h1>
<div class="divider"></div>
<form method="POST" class="space-y-4">
    {{ macros.render_text_input('name', 'Name', field.name) }}
    {{ macros.render_text_input( 'alias', 'Alias', field.alias) }}
    {{ macros.render_select(
        'field_type',
        'Field type',
        FieldType,
        'value',
        field.field_type,
        'name',
    ) }}
    {{ macros.render_select(
        'collection_id',
        'Collection',
        collections,
        'name',
        field.collection_id,
        'id'
    ) }}
    {{
        macros.render_checkbox("is_list", "Is list", field.is_list)
    }}

    {{
        macros.render_checkbox("display_field", "Display field for content", field.display_field)
    }}
    
    <button
        type="submit"
        class="btn"
    >
        Save
    </button>
</form>
{% endblock %}
