{% macro render_table(items, labels, display, actions, pagination) %}
{% if items %}
<table class="table">
    <thead>
        <tr>
            {% for label in labels %}
                <th>{{ label }}</th>
            {% endfor %}

            {% if actions %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>


    <tbody>
        {% for item in items %}
            <tr>
                {% for display_item in display %}
                    <td>{{ item|getattr(display_item) }}
                {% endfor %}


                {% if actions %}
                    <td>
                        {% for action in actions %}
                            <a href="{{ url_for(action.url, id=item.id)}}">{{ action.label }}</a>
                        {% endfor %}
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
    </tbody>

</table>


{% if pagination %}
    <div class="flex items-center justify-between mt-8">

        <div>
            Seite {{ pagination.page }} von {{ pagination.pages }}
        </div>

        <div class="join grid grid-cols-2">
            <a class="join-item btn btn-outline {% if not pagination.has_prev %}btn-disabled{% endif %}" href="{{ url_for(pagination.url_name, page=pagination.prev_num) }}">
                Previous page
            </a>

            <a class="join-item btn btn-outline {% if not pagination.has_next %}btn-disabled{% endif %}" href="{{ url_for(pagination.url_name, page=pagination.next_num) }}">
                Next Page
            </a>
        </div>            

    </div>
{% endif %}

{% else %}
    <p>There are no items available.</p>
{% endif %}
{% endmacro %}

{% macro render_create_button(url, label) %}
<div class="mt-6">
    <a 
        href="{{ url_for(url) }}" 
        class="btn"
    >
        Create new {{ label }}
    </a>
</div>
{% endmacro %}