{% extends "layout.html" %}
{% import "form_macros.html" as macros %}

{% block title %}Create Collection{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Create a New Collection</h1>
<div class="divider"></div>
<form method="POST" class="space-y-4">
    {{ macros.render_text_input('name', 'Name', '', True) }}
    {{ macros.render_text_input('alias', 'Alias', '', True) }}
    {{ macros.render_textarea("description", "Description", "") }}
    <button
        type="submit"
        class="btn"
    >
        Create
    </button>
</form>
{% endblock %}
