{% extends "layout.html" %}
{% import "form_macros.html" as macros %}

{% block title %}Update Collection{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Update collection: {{ collection.name }} ({{ collection.id }})</h1>
<div class="divider"></div>
<form method="POST" class="space-y-4">
    {{ macros.render_text_input('name', 'Name', collection.name) }}
    {{ macros.render_text_input('alias', 'Alias', collection.alias) }}
    {{ macros.render_textarea('description', 'Description', collection.description) }}
    <button
        type="submit"
        class="btn"
    >
        Update
    </button>
</form>
{% endblock %}
