{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block title %}Update Collection{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Update collection: {{ collection.name }} ({{ collection.id }})</h1>
<div class="divider"></div>
<form method="POST" class="space-y-4">
    {{ macros.render_text_input('Name', 'name', collection.name) }}
    {{ macros.render_text_input('Alias', 'alias', collection.alias) }}
    <div>
        <label for="description" class="block text-sm font-medium mb-1">Description</label>
        <textarea
            id="description"
            name="description"
            class="textarea textarea-bordered w-full max-w-xs"
        >{{ collection.description }}</textarea>
    </div>
    <button
        type="submit"
        class="btn"
    >
        Update
    </button>
</form>
{% endblock %}
