{% extends "layout.html" %}

{% import "form_macros.html" as macros %}
{% import "macros/common.html" as common %}

{% set title = "Update collection" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{{ common.render_head(title) }}
<form method="POST" class="space-y-4">
    {{ macros.render_text_input('name', 'Name', collection.name) }}
    {{ macros.render_text_input('alias', 'Alias', collection.alias) }}
    {{ macros.render_textarea('description', 'Description', collection.description) }}
    <button
        type="submit"
        class="btn"
    >
        Update
    </button>
</form>
{% endblock %}
