{% extends "layout.html" %}

{% block title %}{{ "Update" if content else "Create" }} von Content: {{ collection.name }}{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">{{ "Update" if content else "Create" }} von Content: {{ collection.name }}</h1>
<div class="divider"></div>

<form method="POST" class="space-y-6">
  {% for field in collection.fields %}
    <div>
      <label for="{{ field.alias }}" class="block text-sm font-medium text-gray-700">{{ field.name }}</label>
      {% if field.is_list %}
        <div id="{{ field.alias }}_inputs" class="space-y-2">
          {% for item in (content.data.get(field.alias) if content and field.is_list and content.data.get(field.alias) else [None]) %}
            <input type="text" name="{{ field.alias }}" value="{{ item or '' }}" class="input input-bordered w-full max-w-xs">
          {% endfor %}
        </div>
        <button type="button" onclick="addInput('{{ field.alias }}_inputs')" class="btn btn-neutral mt-2">Add more</button>
      {% else %}
        <input type="text" id="{{ field.alias }}" name="{{ field.alias }}" value="{{ content.data.get(field.alias) if content else '' }}" class="input input-bordered w-full max-w-xs">
      {% endif %}
    </div>
  {% endfor %}
  
  <div class="flex gap-4">
    <button type="submit" class="btn">Save</button>
    <a href="{{ url_for('content.index', collection_id=collection.id) }}" class="btn btn-neutral">Back</a>
  </div>
</form>



<script>
function addInput(containerId) {
  const container = document.getElementById(containerId);
  const input = document.createElement('input');
  input.type = 'text';
  input.name = containerId.split('_inputs')[0];
  input.className = 'input input-bordered w-full max-w-xs';
  container.appendChild(input);
}
</script>
{% endblock %}
